/* Estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: #f3f3f3;
}

a{
    text-decoration: none;
}

/* Estilos del nav */
nav{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 44px;
    display: grid;
    place-items: center center;
    background: rgba(0, 0, 0, 0.75);
}

.enlaces{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enlaces a{
    color: rgba(255, 255, 255, 0.75);
    transition: all .5s;
    font-size: 14px;
}

.enlaces a:hover{
    color: #fff;
}

.enlaces a:first-child{
    font-size: 20px;
}

/* Estilos del header */
header{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.header-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-content h1{
    font-size: 1.5rem;
}

.header-content span:first-of-type{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 1px;
}

.header-content span:last-of-type{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.4);
}

/* Estilos de la sección de servicios */
.servicios{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./img/image2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    place-items: center;
}

.servicios::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
}

.servicios .servicios-content{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    text-align: center;
}

.servicios .servicios-content img{
    height: 35%;
    margin: 15px 0;
}

.servicios .servicios-content > .text-container{
    color: #fff;
    font-size: 2em;
    width: 60%;
    text-align: center;
}

/* estilos de la sección del ipad */
#ipad{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    overflow: hidden;
}

/* Estilos del texto del ipad */

#ipad .ipad-text-container{
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ipad .ipad-text-container h1{
    font-size: 3em;
    font-weight: 700;
}

#ipad .ipad-text-container p{
    font-size: 19px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
}

/* estilos del link de la sección del ipad */

.info{
    display: flex;
    align-items: center;
    color: #06c;
    margin-top: 10px;
    font-size: 19px;
}

.info:hover{
    text-decoration: underline;
}

/* estilos de la imagen del ipad */

#ipad .ipad-image{
    grid-column: 4 / 13;
    display: grid;
    place-items: center;
}

#ipad .ipad-image img{
    width: 100%;
    height: 85%;
}

/* sección del watch */

#watch{
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
    padding: 30px;
    display: flex;
    align-items: center;
}

#watch .watch-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 15px;
}

/* estilos de la imagen del watch */

#watch .watch-image{
    display: grid;
    place-items: center;
}

#watch .watch-image img{
    width: 90%;
    height: 90%;
}

/* estilos del texto del watch */

#watch .watch-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

#watch .watch-text > span{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

#watch .watch-text img{
    width: 100px;
}

/* Estilos de la sección airpods */

#airpods{
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template: 1fr / repeat(12, 1fr);
    gap: 15px;
    background: #fafafa;
}

/* estilos del contenido de la sección airpods */

#airpods .airpods-content{
    grid-column: 1 / 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#airpods .airpods-content h1{
    font-size: 3em;
}

#airpods .airpods-content span{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
}

/* estilos de la imagen de la sección airpods */

#airpods .airpods-image{
    grid-column: 7 / 13;
}

#airpods .airpods-image img{
    width: 100%;
    height: 100%;
}

/* Estilos de la sección music / tv */

#music-tv{
    background: #fafafa;
    width: 100%;
    height: calc(100vh - 44px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 20px 28px;
}

/* estilos de la sección tv en la sección music/tv */

#music-tv .tv{
    grid-column: 1 / 7;
    background: #000;
    display: grid;
    grid-template-rows: 50% 50%;
    font-size: 1.5rem;
}

/* estilos del texto de la sección tv */

#music-tv .tv .tv-text{
    display: grid;
    place-items: center;
}

#music-tv .tv .tv-text div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#music-tv .tv .tv-text h3{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 10px 0;
}

#music-tv .tv .tv-text a{
    margin: 0;
}

/* estilos de la imagen de la sección tv */
.tv-image{
    display: grid;
    place-items: center;
}

.tv-image img{
    width: 95%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Estilos de la sección music de la sección music/tv */

#music-tv .music{
    grid-column: 7 / 13;
    background-color: #fff;
    display: grid;
    grid-template-rows: 50% 50%;
} 

/* estilos del texto de la sección music */

#music-tv .music .music-text{
    display: grid;
    place-items: center;
}

#music-tv .music .music-text div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#music-tv .music .music-text div h3{
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: 400;
}

#music-tv .music .music-text div a{
    margin: 0;
}

/* estilos de la imagen de la sección music */

#music-tv .music .music-image{
    display: grid;
    place-items: center;
}

#music-tv .music .music-image img{
    width: 90%;
    height: 100%;
}

/* Estilos de la sección iMac */

#imac{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: #fff;
}

/* estilos de la sección de texto de la sección imac */

#imac .text-container-imac{
    display: grid;
    place-items: center;
}

#imac .text-container-imac .imac-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#imac .text-container-imac .imac-text h1{
    font-size: 3.2em;
}

#imac .text-container-imac .imac-text span{
    font-size: 1.5em;
    letter-spacing: 1px;
}

#imac .text-container-imac .imac-text span:last-of-type{
    color: rgba(0, 0, 0, 0.4);
    margin: 5px;
}

#imac .text-container-imac .image-text a{
    margin: 0;
}

/* estilos de la sección de imagen de la sección imac */

#imac .imac-image{
    display: grid;
    place-items: start center;
}

#imac .imac-image  img{
    width: 60%;
    height: 80%;
}

/* estilos del footer */

footer{
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    display: grid;
    place-items: center;
}

footer svg{
    fill: rgba(255, 255, 255, 0.5);
    transition: all .25s;
}

footer svg:hover{
    fill: #fff;
}

@media screen and (min-width: 700px) {
    
}